.headline{
    text-align: center;
    color:rgb(88, 85, 233);
    background-color: pink;
    font-size: 50px;
    text-decoration: none;
}

.sub-head{
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
font-weight: 800;
color:rgb(88, 85, 233);
text-decoration: underline;
text-align: center;
}
.sub-head,.lasagna{
    color:rgb(88, 85, 233);
    font-weight: 900;
    background-color: rgb(255, 192, 203);
}

.main-list{
    margin-left:40%;
    list-style-position: inside;
    font-size: 20px;
    
}

.main-list.steps{
    list-style-position: outside;
    text-align: left;
    line-height:45px;
    margin-right:50%;
    margin-left: 0%;
}
#odin-horn {
    width: 300px;
    height: auto;
    float:right;
}
.intro{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center ;
}
.header{
    font-size: 30px;
    font-style: italic;
    text-decoration: solid underline;
    text-align: center;
}
#garfield{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}
#baking-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}