.headline{
    text-align: center;
    color:rgb(88, 85, 233);
    background-color: pink;
    font-size: 50px;
}

.sub-head{
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
font-weight: 800;
color:rgb(88, 85, 233);
text-decoration: underline;
text-align: center;
}

.main{
    list-style-position: inside;
    text-align: justify;
    font-size: 35px;
}

.image {
    width: 300px;
    height: auto;
    float:right;
}